@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* 
(OPTIONAL INSTEAD OF ABOVE)
@tailwind base;
@tailwind components;
@tailwind utilities;
*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-width: 16px;
  scrollbar-color: #9f9f9f var(--scrollbar-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* define global colors */
:root {
  --scrollbar-bg: transparent;
  --newRedditTheme-flair: #EDEFF1;
  --newRedditTheme-linkText: #0079D3;
  --newRedditTheme-body: #FFFFFF;
  --newCommunityTheme-body: #FFFFFF;
  --newCommunityTheme-bodyText: #1c1c1c;
  --newCommunityTheme-metaText: #7c7c7c;
  --newCommunityTheme-line: #EDEFF1;
  --newCommunityTheme-button: #0079D3;
  --newCommunityTheme-buttonAlpha05: rgba(0, 121, 211, 0.05);
  --newCommunityTheme-buttonAlpha10: rgba(0, 121, 211, 0.1);
  --newRedditTheme-button: #0079D3;
  --newRedditTheme-actionIcon: #878A8C;
  --newRedditTheme-line: #EDEFF1;
  --newCommunityTheme-bodyTextAlpha20: rgba(28, 28, 28, 0.2);
  --newRedditTheme-highlight: #e9f5fd;
  --newCommunityTheme-field: #F6F7F8;
  --newCommunityTheme-linkText: #0079D3;
  --rem360                                        : 22.5rem;
  --rem320                                        : 20rem;
  --rem192                                        : 12rem;
  --rem144                                        : 9rem;
  --rem128                                        : 8rem;
  --rem96                                         : 6rem;
  --rem90                                         : 5.625rem;
  --rem88                                         : 5.5rem;
  --rem64                                         : 4rem;
  --rem56                                         : 3.5rem;
  --rem48                                         : 3rem;
  --rem40                                         : 2.5rem;
  --rem36                                         : 2.25rem;
  --rem32                                         : 2rem;
  --rem28                                         : 1.75rem;
  --rem26                                         : 1.625rem;
  --rem24                                         : 1.5rem;
  --rem22                                         : 1.375rem;
  --rem20                                         : 1.25rem;
  --rem18                                         : 1.125rem;
  --rem16                                         : 1rem;
  --rem15                                         : 0.9375rem;
  --rem14                                         : 0.875rem;
  --rem12                                         : 0.75rem;
  --rem10                                         : 0.625rem;
  --rem8                                          : 0.5rem;
  --rem6                                          : 0.375rem;
  --rem4                                          : 0.25rem;
  --rem2                                          : 0.125rem;
  --rem1                                          : 0.0625rem;
  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  --font-12-16-semibold: normal 600 0.75rem / 1rem var(--font-sans);
  --color-interactive-pressed: #00000029;
  --boxshadow-tooltip: 0 1px 4px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15);
  --size-button-md-h                              : 2.5rem;
  --size-button-lg-h                              : 3.375rem;
  --size-button-md-h                              : 2.5rem;
  --size-button-sm-h                              : 2rem;
  --size-button-xs-h                              : 1.375rem;
  --spacer-4xs                                    : 0.125rem;
  --spacer-2xs                                    : 0.25rem;
  --spacer-xs                                     : 0.5rem;
  --spacer-sm                                     : 0.75rem;
  --spacer-md                                     : 1rem;
  --spacer-lg                                     : 1.5rem;
  --spacer-xl                                     : 2rem;
  --spacer-2xl                                    : 3rem;
  --spacer-a-px                                   : 0px;
  --spacer-button-lg-px                           : var(--spacer-lg);
  --spacer-button-md-px                           : var(--spacer-lg);
  --spacer-button-sm-px                           : var(--spacer-md);
  --spacer-input-padding-left                     : 0px;
  --spacer-input-padding-top                      : 0px;
  --spacer-label-default                          : 0px;
  --spacer-switch-input-active-pl                 : 0px;
  --font-button-lg                                : normal 700 1.125rem/1.375rem var(--font-sans);
  --font-button-md                                : normal 700 1rem/1.25rem var(--font-sans);
  --font-button-sm                                : normal 700 0.875rem/1.125rem var(--font-sans);
  --font-button-xs                                : normal 700 0.75rem/0.875rem var(--font-sans);
  --font-button-b1                                : normal bold 1.125rem/1.375rem var(--font-sans);
  --font-button-b2                                : normal bold 1rem/1.25rem var(--font-sans);
  --font-button-b3                                : normal bold 0.875rem/1.125rem var(--font-sans);
  --font-button-b4                                : normal bold 0.75rem/0.875rem var(--font-sans);
  --line-button-lg-border                         : 0.0625rem;
  --line-button-md-border                         : 0.0625rem;
  --line-button-sm-border                         : 0.0625rem;
  --line-button-xs-border                         : 0.0625rem;
  --line-button-border-activated                  : 0.0625rem;
  --line-sm                                       : 0.0625rem;
  --line-md                                       : 0.125rem;
  --line-lg                                       : 0.25rem;
  --line-a-focus                                  : 0px;
  --line-a-outline-moz                            : 0.0625rem;
  --line-a-outline-wb                             : 0.3125rem;
  --line-button-lg-border                         : 0.0625rem;
  --line-button-md-border                         : 0.0625rem;
  --line-button-sm-border                         : 0.0625rem;
  --line-button-xs-border                         : 0.0625rem;
  --line-button-border-activated                  : 0.0625rem;
  --line-input-border                             : var(--line-sm);
  --color-pizzaRed: #ef5350;
  --color-global-brand-orangered: #FF4500;
  --color-global-focus: #47B0DB;
  --color-interactive-content-disabled: #00000040;
  --color-interactive-background-disabled: #0000000d;
  --color-interactive-pressed: #00000029;
  --color-neutral-content: #2A3C42;
  --color-neutral-content-disabled: #D6D6D6;
  --color-neutral-content-weak: #576F76;
  --color-neutral-content-strong: #0F1A1C;
  --color-neutral-background: #ffffff;
  --color-neutral-background-selected: #EAEDEF;
  --color-neutral-background-weak: #F9FAFA;
  --color-neutral-background-medium: #F8F8F8;
  --color-neutral-background-strong: #ffffff;
  --color-neutral-background-hover: #F2F4F5;
  --color-neutral-border: #00000033;
  --color-neutral-border-medium: #00000080;
  --color-neutral-border-weak: #0000001a;
  --color-neutral-border-strong: #0F1A1C;
  --color-primary: #0045AC;
  --color-primary-hover: #003584;
  --color-primary-visited: #8700B5;
  --color-primary-onBackground: #ffffff;
  --color-primary-onBackground-selected: #ffffff;
  --color-primary-background: #0045AC;
  --color-primary-background-hover: #003584;
  --color-primary-background-selected: #00255D;
  --color-secondary: #0F1A1C;
  --color-secondary-hover: #000000;
  --color-secondary-weak: #576F76;
  --color-secondary-onBackground: #000000;
  --color-secondary-background: #EAEDEF;
  --color-secondary-background-hover: #E2E7E9;
  --color-secondary-background-selected: #D2DADD;
  --color-secondary-plain: #0F1A1C;
  --color-secondary-plain-hover: #000000;
  --color-danger-background: #EB001F;
  --color-danger-background-disabled: #FFCCD2;
  --color-danger-background-hover: #A50016;
  --color-danger-onBackground: #ffffff;
  --color-danger-content: #A50016;
  --color-danger-content-hover: #7E0011;
  --color-danger-content-default: #ffffff;
  --color-brand-background: #D93A00;
  --color-brand-onBackground: #ffffff;
  --color-brand-background-hover: #962900;
  --color-media-background: #00000099;
  --color-media-onbackground: #ffffff;
  --color-media-onbackground-weak: #E2E7E9;
  --color-media-background-hover: #000000cc;
  --color-media-onbackground-disabled: #ffffff40;
  --color-media-border-selected: #ffffff;
  --color-media-background-selected: #000000cc;
  --color-success-content: #0A6000;
  --color-success-hover: #084A00;
  --color-success-onBackground: #ffffff;
  --color-success-background: #0E8A00;
  --color-success-background-hover: #0A6000;
  --color-warning-content: #665505;
  --color-warning-content-hover: #504104;
  --color-warning-onBackground: #000000;
  --color-warning-background: #DBAF00;
  --color-warning-background-hover: #8F7407;
  --color-upvote-content: #962900;
  --color-upvote-content-weak: var(--color-global-brand-orangered);
  --color-upvote-disabled: #9629004d;
  --color-upvote-onBackground: #ffffff;
  --color-upvote-background: #D93A00;
  --color-upvote-background-hover: #962900;
  --color-upvote-background-disabled: #D93A004d;
  --color-downvote-content: #453BB5;
  --color-downvote-content-weak: #6A5CFF;
  --color-downvote-disabled: #453BB54d;
  --color-downvote-onBackground: #ffffff;
  --color-downvote-background: #6A5CFF;
  --color-downvote-background-hover: #453BB5;
  --color-downvote-background-disabled: #6A5CFF4d;
  --color-brand-gradient-default: linear-gradient(180deg, #D93A00ff, #db3b00ff 30%, #962900ff 100%);
  --color-brand-gradient-default-highlight: linear-gradient(258deg, #db3f0000 80%, #D93A00ff 100%);
  --color-brand-gradient-hover: linear-gradient(180deg, #e23d00ff 15%, #cb3600ff 49%, #b43000ff 100%);
  --color-brand-gradient-hover-highlight: linear-gradient(323deg, #cb360000 65%, #cb3600ff 100%);
  --color-brand-gradient-active: linear-gradient(180deg, #cd3700ff, #db3b00ff 68%, #D93A00ff 100%);
  --color-brand-gradient-active-highlight: linear-gradient(83deg, #db3f0000 80%, #D93A00ff 100%);
  --color-gradient-media: linear-gradient(180deg, #00000000, #0000008a 60%, #00000099 100%);
  --color-gradient-media-strong: linear-gradient(180deg, #00000000, #000000cc 60%, #000000e6 100%);
  --color-transparent-background-hover: #82959B1a;
  --color-global-black: #000000;
  --color-global-white: #ffffff;
  --color-global-orangered: #D93A00;
  --color-global-alienblue: #1870F4;
  --color-global-darkblue: #131F23;
  --color-tone-1: #131313;
  --color-tone-2: #434343;
  --color-tone-3: #ACACAC;
  --color-tone-4: #E4E4E4;
  --color-tone-5: #F2F2F2;
  --color-tone-6: #F8F8F8;
  --color-tone-7: #ffffff;
  --color-action-upvote: #D93A00;
  --color-action-downvote: #6A5CFF;
  --color-alert-caution: #8F7407;
  --color-identity-admin: #D93A00;
  --color-identity-moderator: #0E8A00;
  --color-identity-self: #008675;
  --color-identity-coins: #DBAF00;
  --color-category-live: #D93A00;
  --color-category-nsfw: #E00096;
  --color-category-spoiler: var(--color-tone-1);
  --color-ui-canvas: var(--color-tone-5);
  --color-ui-modalbackground: var(--color-neutral-background-strong);
  --color-avatar-gradient: linear-gradient(0deg, #D2DADDff, #ffffffff 75%);
  --color-opacity-highlight: linear-gradient(#00255D1a, var(--color-tone-6));
  --color-opacity-08: #13131314;
  --color-opacity-50: #00000080;
  --color-scrim: #00000099;
  --color-scrim-strong: #000000cc;
  --color-scrim-gradient: linear-gradient(180deg, #00000000, #0000008a 60%, #00000099 100%);
  --color-online: #55BD46;
  --color-offline: #767676;
  --color-favorite: #8F7407;
  --color-a-default: var(--color-primary);
  --color-a-hover: var(--color-primary-hover);
  --color-a-visited: var(--color-primary-visited);
  --color-banner-plain: var(--color-neutral-background-strong);
  --color-banner-plain-inverted: var(--color-neutral-content-strong);
  --color-banner-error: var(--color-danger-background);
  --color-banner-caution: var(--color-warning-background);
  --color-banner-success: var(--color-success-background);
  --color-banner-brand: var(--color-brand-background);
  --color-banner-plain-text: var(--color-neutral-content);
  --color-banner-plain-inverted-text: var(--color-neutral-background-weak);
  --color-banner-error-text: var(--color-danger-onBackground);
  --color-banner-caution-text: var(--color-warning-onBackground);
  --color-banner-caution-hover: var(--color-warning-background-hover);
  --color-banner-success-text: var(--color-success-onBackground);
  --color-banner-brand-text: var(--color-brand-onBackground);
  --color-button-overlay-focus: transparent;
  --color-button-overlay-active: transparent;
  --color-button-border-width: tomato;
  --color-button-border-width-activated: tomato;
  --color-button-primary-background-hover: var(--color-primary-background-hover);
  --color-button-primary-background-activated: var(--color-primary-background-selected);
  --color-button-primary-background-disabled: var(--color-interactive-background-disabled);
  --color-button-primary-border-hover: var(--color-primary-background);
  --color-button-primary-border-active: var(--color-primary-background-hover);
  --color-button-primary-text-disabled: var(--color-interactive-content-disabled);
  --color-button-primary-text-activated: var(--color-primary-onBackground-selected);
  --color-button-secondary-background: var(--color-secondary-background);
  --color-button-secondary-background-focus: var(--color-secondary-background);
  --color-button-secondary-background-hover: var(--color-secondary-background-hover);
  --color-button-secondary-background-disabled: var(--color-interactive-background-disabled);
  --color-button-secondary-background-activated: var(--color-secondary-background-selected);
  --color-button-secondary-border: transparent;
  --color-button-secondary-border-hover: var(--color-secondary-background);
  --color-button-secondary-border-active: var(--color-secondary-background-hover);
  --color-button-secondary-border-activated: transparent;
  --color-button-secondary-border-disabled: transparent;
  --color-button-secondary-text: var(--color-secondary-onBackground);
  --color-button-secondary-text-disabled: var(--color-interactive-content-disabled);
  --color-button-secondary-text-activated: var(--color-secondary-onBackground);
  --color-button-tertiary-background: transparent;
  --color-button-tertiary-background-focus: transparent;
  --color-button-tertiary-background-hover: var(--color-secondary-background-hover);
  --color-button-tertiary-background-disabled: transparent;
  --color-button-tertiary-background-activated: var(--color-neutral-content);
  --color-button-tertiary-border-hover: var(--color-secondary-background);
  --color-button-tertiary-border-active: var(--color-secondary-background-hover);
  --color-button-tertiary-text: var(--color-neutral-content-strong);
  --color-button-tertiary-text-disabled: var(--color-neutral-content-disabled);
  --color-button-tertiary-text-activated: var(--color-neutral-background);
  --color-button-plain-background-hover: var(--color-secondary-background-hover);
  --color-button-plain-background-disabled: transparent;
  --color-button-plain-background-activated: var(--color-secondary-background-selected);
  --color-button-plain-border-hover: var(--color-secondary-background);
  --color-button-plain-border-active: var(--color-secondary-background-hover);
  --color-button-plain-text: var(--color-secondary-plain);
  --color-button-plain-text-hover: var(--color-secondary-plain-hover);
  --color-button-plain-text-disabled: var(--color-interactive-content-disabled);
  --color-button-plain-text-activated: var(--color-secondary-onBackground);
  --color-button-primary-border-activated: var(--color-primary-background);
  --color-button-plain-inverted-background-activated: var(--color-neutral-content);
  --color-button-plain-inverted-text-activated: var(--color-neutral-background);
  --color-button-media-border-color-activated: var(--color-media-border-selected);
  --color-button-favorite-text: var(--color-favorite);
  --color-button-caution-background: var(--color-warning-background);
  --color-button-caution-background-hover: var(--color-warning-background-hover);
  --color-button-caution-background-disabled: var(--color-interactive-background-disabled);
  --color-button-caution-text: var(--color-warning-onBackground);
  --color-divider-default: var(--color-neutral-border);
  --color-input-secondary: var(--color-secondary-background);
  --color-input-secondary-hover: var(--color-secondary-background-hover);
  --color-input-border: transparent;
  --color-input-bordered: transparent;
  --color-input-bordered-hover: var(--color-neutral-background-hover);
  --color-input-secondary-text: var(--color-secondary-onBackground);
  --color-input-bordered-text: var(--color-secondary-plain);
  --color-input-helper-text: var(--color-neutral-content-weak);
  --color-input-pressed: var(--color-interactive-pressed);
  --color-label-default: var(--color-neutral-content-weak);
  --color-shimmer-background: #00000008;
  --color-shimmer-gradient-overlay: linear-gradient(to right, #00000000, #00000005 20%, #0000000f 50%, #00000008 70%, #00000000 100%);
  --color-switch-input-background-pressed-scrim: var(--color-interactive-pressed);
  --color-switch-input-background-handle: var(--color-global-white);
  --color-switch-input-background-handle-disabled: var(--color-secondary-background);
  --color-switch-input-background-default: var(--color-secondary-background);
  --color-switch-input-background-default-hover: var(--color-secondary-background-hover);
  --color-switch-input-background-default-disabled: var(--color-interactive-background-disabled);
  --color-switch-input-background-checked: var(--color-primary-background);
  --color-switch-input-background-checked-hover: var(--color-primary-background-hover);
  --color-switch-input-background-checked-disabled: var(--color-interactive-content-disabled);
  --color-tooltip-bg-neutral: var(--color-neutral-background-strong);
  --color-tooltip-text-neutral: var(--color-neutral-content);
  --color-tooltip-bg-inverted: var(--color-neutral-content);
  --color-tooltip-text-inverted: var(--color-neutral-background);
  --color-tooltip-bg-primary: var(--color-primary-background);
  --color-tooltip-text-primary: var(--color-primary-onBackground);
  --elevation-sm-inset: inset 0 0.0625rem 0.125rem 0 #00000021;
  --elevation-button-focus: var(--elevation-focus-ring);
  --elevation-switch-input-default-inset: var(--elevation-sm-inset);
  --shreddit-header-height: 56px;
  --styled-scrollbar-background:#ffffff;
  --shreddit-content-background:#ffffff;
  --button-height:2rem;
  --font-24: normal undefined null / null var(--font-sans);
  --font-32: normal undefined null / null var(--font-sans);
  --button-color-background: #EAEDEF;
  --button-color-background-hover:#e2e7e9;
  --button-border-color: #00000080;
  --button-border-color-hover: #000000;
  --plain-background:rgba(0, 0, 0, 0);
  --color-neutral-background:#ffffff;
  --anim-duration:300ms;
  --font-14-20-semibold: normal 600 0.875rem / 1.25rem var(--font-sans);
  --shreddit-color-wordmark: #FF4500;
}
.theme-dark {
  /* add dark scheme here */
  --color-category-spoiler: var(--color-tone-1);
  --scrollbar-bg: #2c2c2c;
  --newRedditTheme-flair: #343536;
  --newRedditTheme-linkText: #4FBCFF;
  --newRedditTheme-body: #1A1A1B;
  --newCommunityTheme-body: #1A1A1B;
  --newCommunityTheme-bodyText: #D7DADC;
  --newCommunityTheme-metaText: #818384;
  --newCommunityTheme-line: #343536;
  --newCommunityTheme-button: #D7DADC;
  --newCommunityTheme-buttonAlpha05: rgba(215, 218, 220, 0.05);
  --newCommunityTheme-buttonAlpha10: rgba(215, 218, 220, 0.1);
  --newRedditTheme-button: #D7DADC;
  --newRedditTheme-actionIcon: #818384;
  --newRedditTheme-line: #343536;
  --newCommunityTheme-bodyTextAlpha20: rgba(215, 218, 220, 0.2);
  --newRedditTheme-highlight: #17232D;
  --newCommunityTheme-field: #272729;
  --color-pizzaRed: #c62828;
  --color-global-focus: #007FAE;
  --color-interactive-content-disabled: #ffffff40;
  --color-interactive-background-disabled: #ffffff0d;
  --color-interactive-pressed: #ffffff29;
  --color-neutral-content: #B8C5C9;
  --color-neutral-content-disabled: #303030;
  --color-neutral-content-weak: #82959B;
  --color-neutral-content-strong: #F2F4F5;
  --color-neutral-background: #0B1416;
  --color-neutral-background-selected: #1A282D;
  --color-neutral-background-weak: #04090A;
  --color-neutral-background-medium: #131313;
  --color-neutral-background-strong: #0F1A1C;
  --color-neutral-background-hover: #131F23;
  --color-neutral-border: #ffffff33;
  --color-neutral-border-medium: #ffffff80;
  --color-neutral-border-weak: #ffffff1a;
  --size-lg: 1.5rem;
  --btn-primary-bg: #0045ac;
  --btn-primary-bg-hover: #1870f4;
  --color-neutral-border-strong: #F2F4F5;
  --color-primary: #629FFF;
  --color-primary-hover: #A7CCFF;
  --color-primary-visited: #D55EFF;
  --color-primary-background: #0045AC;
  --color-primary-background-hover: #1870F4;
  --color-primary-background-selected: #629FFF;
  --color-primary-onBackground: #ffffff;
  --color-primary-onBackground-selected: #000000;
  --color-secondary: #F2F4F5;
  --color-secondary-hover: #ffffff;
  --color-secondary-weak: #82959B;
  --color-secondary-onBackground: #ffffff;
  --color-secondary-background: #1A282D;
  --color-secondary-background-hover: #223237;
  --color-secondary-background-selected: #33464C;
  --color-secondary-plain: #F2F4F5;
  --color-secondary-plain-hover: #ffffff;
  --color-danger-background: #A50016;
  --color-danger-background-disabled: #3A0008;
  --color-danger-background-hover: #EB001F;
  --color-danger-onBackground: #ffffff;
  --color-danger-content: #FF6E80;
  --color-danger-content-hover: #FFADB8;
  --color-success-content: #55BD46;
  --color-success-hover: #A3E398;
  --color-success-onBackground: #ffffff;
  --color-success-background: #0A6000;
  --color-success-background-hover: #0E8A00;
  --color-warning-content: #DBAF00;
  --color-warning-content-hover: #FADB61;
  --color-warning-onBackground: #000000;
  --color-warning-background: #DBAF00;
  --color-warning-background-hover: #FADB61;
  --color-upvote-content: #FE7C53;
  --color-upvote-disabled: #FE7C534d;
  --color-upvote-onBackground: #ffffff;
  --color-upvote-background: #D93A00;
  --color-upvote-background-hover: #962900;
  --color-upvote-background-disabled: #D93A004d;
  --color-downvote-content: #988EFF;
  --color-downvote-content-weak: #6A5CFF;
  --color-downvote-disabled: #988EFF4d;
  --color-downvote-onBackground: #ffffff;
  --color-downvote-background: #453BB5;
  --color-downvote-background-hover: #453BB5;
  --color-downvote-background-disabled: #6A5CFF4d;
  --color-tone-1: #F2F2F2;
  --color-tone-2: #ACACAC;
  --color-tone-3: #434343;
  --color-tone-4: #303030;
  --color-tone-5: #1E1E1E;
  --color-tone-6: #131313;
  --color-tone-7: #080808;
  --color-ui-canvas: #080808;
  --color-avatar-gradient: linear-gradient(0deg, #2A3C42ff, #0B1416ff 75%);
  --color-transparent-background-hover: #667A801a;
  --color-opacity-50: #F2F2F280;
  --color-favorite: #DBAF00;
  --color-button-primary-border-activated: transparent;
  --color-button-plain-inverted-activated-text: var(--color-neutral-background);
  --color-shimmer-background: #ffffff08;
  --color-shimmer-gradient-overlay: linear-gradient(to right, #ffffff00, #ffffff05 20%, #ffffff0f 50%, #ffffff08 70%, #ffffff00 100%);
  --styled-scrollbar-background:#0B1416;
  --shreddit-content-background:#0B1416;
  --button-color-background: #1a282d;
  --button-color-background-hover:#223237;
  --button-border-color: transparent;
  --button-border-color-hover: #ffffff;
  --plain-background:rgba(1, 1,1, 1);
  --color-neutral-background:#0B1416;
  --button-border-color:#ffffff80;
  --shreddit-color-wordmark: #ffffff;
}
.theme-light {
  /* add light scheme here */
  --newRedditTheme-flair: #EDEFF1;
  --newRedditTheme-linkText: #0079D3;
  --newRedditTheme-body: #FFFFFF;
  --newCommunityTheme-body: #FFFFFF;
  --newCommunityTheme-bodyText: #1c1c1c;
  --newCommunityTheme-metaText: #7c7c7c;
  --newCommunityTheme-line: #EDEFF1;
  --newCommunityTheme-button: #0079D3;
  --newCommunityTheme-buttonAlpha05: rgba(0, 121, 211, 0.05);
  --newCommunityTheme-buttonAlpha10: rgba(0, 121, 211, 0.1);
  --newRedditTheme-button: #0079D3;
  --newRedditTheme-actionIcon: #878A8C;
  --newRedditTheme-line: #EDEFF1;
  --newCommunityTheme-bodyTextAlpha20: rgba(28, 28, 28, 0.2);
  --newRedditTheme-highlight: #e9f5fd;
  --newCommunityTheme-field: #F6F7F8;
  --color-pizzaRed: #ef5350;
  --color-global-focus: #47B0DB;
  --color-interactive-content-disabled: #00000040;
  --color-interactive-background-disabled: #0000000d;
  --color-interactive-pressed: #00000029;
  --color-neutral-content: #2A3C42;
  --color-neutral-content-disabled: #D6D6D6;
  --color-neutral-content-weak: #576F76;
  --color-neutral-content-strong: #0F1A1C;
  --color-neutral-background: #ffffff;
  --color-neutral-background-selected: #EAEDEF;
  --color-neutral-background-weak: #F9FAFA;
  --color-neutral-background-medium: #F8F8F8;
  --color-neutral-background-strong: #ffffff;
  --color-neutral-background-hover: #F2F4F5;
  --color-neutral-border: #00000033;
  --color-neutral-border-medium: #00000080;
  --color-neutral-border-weak: #0000001a;
  --color-neutral-border-strong: #0F1A1C;
  --color-primary: #0045AC;
  --color-primary-hover: #003584;
  --color-primary-visited: #8700B5;
  --color-primary-onBackground: #ffffff;
  --color-primary-onBackground-selected: #ffffff;
  --color-primary-background: #0045AC;
  --color-primary-background-hover: #003584;
  --color-primary-background-selected: #00255D;
  --color-secondary: #0F1A1C;
  --color-secondary-hover: #000000;
  --color-secondary-weak: #576F76;
  --color-secondary-onBackground: #000000;
  --color-secondary-background: #EAEDEF;
  --color-secondary-background-hover: #E2E7E9;
  --color-secondary-background-selected: #D2DADD;
  --color-secondary-plain: #0F1A1C;
  --color-secondary-plain-hover: #000000;
  --color-danger-background: #EB001F;
  --color-danger-background-disabled: #FFCCD2;
  --color-danger-background-hover: #A50016;
  --color-danger-onBackground: #ffffff;
  --color-danger-content: #A50016;
  --color-danger-content-hover: #7E0011;
  --color-success-content: #0A6000;
  --color-success-hover: #084A00;
  --color-success-onBackground: #ffffff;
  --color-success-background: #0E8A00;
  --color-success-background-hover: #0A6000;
  --color-warning-content: #665505;
  --color-warning-content-hover: #504104;
  --color-warning-onBackground: #000000;
  --color-warning-background: #DBAF00;
  --color-warning-background-hover: #8F7407;
  --color-upvote-content: #962900;
  --color-upvote-disabled: #9629004d;
  --color-upvote-onBackground: #ffffff;
  --color-upvote-background: #D93A00;
  --color-upvote-background-hover: #962900;
  --color-upvote-background-disabled: #D93A004d;
  --color-downvote-content: #453BB5;
  --color-downvote-content-weak: #6A5CFF;
  --color-downvote-disabled: #453BB54d;
  --color-downvote-onBackground: #ffffff;
  --color-downvote-background: #6A5CFF;
  --color-downvote-background-hover: #453BB5;
  --color-downvote-background-disabled: #6A5CFF4d;
  --color-transparent-background-hover: #82959B1a;
  --color-tone-1: #131313;
  --color-tone-2: #434343;
  --color-tone-3: #ACACAC;
  --color-tone-4: #E4E4E4;
  --color-tone-5: #F2F2F2;
  --color-tone-6: #F8F8F8;
  --color-tone-7: #ffffff;
  --color-ui-canvas: var(--color-tone-5);
  --color-avatar-gradient: linear-gradient(0deg, #D2DADDff, #ffffffff 75%);
  --color-opacity-highlight: linear-gradient(#00255D1a, var(--color-tone-6));
  --color-opacity-08: #13131314;
  --color-opacity-50: #00000080;
  --color-favorite: #8F7407;
  --styled-scrollbar-background:#ffffff;
  --shreddit-content-background:#ffffff;
  --button-height:2rem;
  --font-24: normal undefined null / null var(--font-sans);
  --font-32: normal undefined null / null var(--font-sans);
  --button-color-background: #EAEDEF;
  --button-color-background-hover:#e2e7e9;
  --button-border-color: #00000080;
  --button-border-color-hover: #000000;
  --plain-background:rgba(0, 0, 0, 0);
  --color-neutral-background:#ffffff;
}
